* {
    border: 1px solid hotpink;
}

body {
    background-color: black;
}

.scoreboard {
    display: flex;
    justify-content: center;
}

.scoreboard>div {
    color: white;
}

.reset {
    width: 100px;
    align-self: center;
}

.space {
    height: 150px;
}

.spaceDivs {
    display: flex;
    flex-direction: column;
}

.choices {
    display: flex;
    justify-content: space-between;
}






.button {
    transition: all .2s ease-in-out;
    width: 200px;
    height: 200px;
}

.button:hover {
    transform: scale(1.1);
}