* {
    border: 2px solid limegreen;
}

body {
    background-color: rgb(103, 19, 221);
}


.scoreboard {
    display: flex;
    justify-content: center;
}


.stats {
    font-family: "Audiowide";
    text-align: center;
    font-size: 30px;
    color: aqua;
    margin: 10px;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.reset {
    font-size: 30px;
    font-family: "Audiowide";
    height: 75px;
    width: 300px;
    align-self: center;
    border-radius: 15px;
    color: rgb(103, 19, 221);
    background-color: black;
    transition-duration: 0.5s;
}

.reset:hover {
    color: black;
    background-color: rgb(103, 19, 221);
}

.space {
    height: 10px;
}

.spaceDivs {
    display: flex;
    flex-direction: column;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 50px;
}






.button {
    transition: all .2s ease-in-out;
    width: 200px;
    height: 250px;
    padding: 10px;
}

.button:hover {
    transform: scale(1.1);
}